[package]
name = "stakpak"
version = "0.1.0"
edition = "2021"

[dependencies]
clap = { version = "4.5.23", features = ["derive", "env"] }
config = "0.14.1"
serde = { version = "1.0.215", features = ["derive"] }
toml = "0.8.19"
